html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow-x: hidden;
}
body{
  background-color: green;
}
canvas{
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  max-height: 99%;
  max-width: 99%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
button {
  border-radius: 10px;
  font-size: 25px;
}